[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wordclock
Comment=
Icon=/home/pi/Schreibtisch/Python/Git/WordclockIcon.png
Exec=lxterminal -e sudo python /home/pi/Schreibtisch/Python/Git/WordclockV38.py
StartupNotify=false
Terminal=true
Hidden=false